body {
    background-color: #00acc1;
}

nav {
    background-color: lightblue;
}

.card-panel {
    background-color: lightskyblue;
    color: dodgerblue;
    margin-top: 10rem;
}

nav .brand-logo {
    color: black;
}