<template name="Applicationlayout">
    <header>
        <title>chatroom</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="/" id="logo-container" class="brand-logo">CHATROOM</a>
                    <ul class="right hide-on-med-and-down">
                        <li>{{> loginButtons align=right}}</li>
                    </ul>
                </div>
            </nav>
        </header>
        {{> yield}}
    </body>
</template>