<template name="home">
    {{#if currentUser}}
    <form class="name-form">
        <div class="input-field">
            <input type="text" name="firstname" style="width: 400px">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <ul>
        {{#each posts}}
        <li class="secondary-content delete-post" style=" color:black; float: left;">
            {{username}}:{{name}}{{this.createdAt}}
            <Button class="waves-effect waves-light btn "><i class="material-icons ">delete</i></Button>
        </li>
        {{/each}} {{> friends}}
    </ul>
    {{else}}
    <div class="container ">
        <div class="section ">
            <div class="card-panel ">
                <h2>please login to send a message</h2>
            </div>
        </div>
    </div>
    {{/if}}
</template>
<template name="friends ">
    <div class="container ">
        <div class="section " style="width: 300px;margin-left: auto;margin-right: auto;">
            <div class="card-panel ">
                <h2>Friends list</h2>
            </div>
        </div>
    </div>
    {{#each listUser}}
    <table>
        <thead>
            <tr>
                <p id="userNameOnList "> {{username}}</p>
            </tr>
        </thead>
    </table>
    {{/each}}
</template>